<?php
// Fichier : config/database.php

return [
    'host' => 'IP_OU_FQDN',
    'dbname' => 'NOM_BDDE',
    'user' => 'USERNAME',
    'password' => 'PASSWORD',
    'charset' => 'utf8mb4',

    // --- CONFIGURATION SSL ---
    // Valeurs possibles :
    // - 'system' : Utilise le certificat racine de Debian
    // - '/chemin/vers/fichier.pem' : Chemin spécifique si besoin
    // - null ou '' : Désactive le SSL (laissez vide pour développer en local sans SSL)
    'ssl_mode' => 'system', 
];
